@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

</br>
<p>TUGA IT&#8217;s mission is to deliver a premium multi-discipline conference for IT Professionals and Companies. TUGA IT is positioned as a forward looking technological event (v-Next), focused on unreleased or recently released technologies, both from Microsoft and the Open Source worlds. TUGA IT is proudly organized by TUGA, a <strong>non-profit Portuguese association</strong> whose mission is to promote and share knowledge, with the participation of several technical communities and Microsoft MVPs.</p>
<p>For this second edition, TUGA IT will feature content on:</p>
<ul>
    <li>Microsoft Data Platform</li>
    <li>Open-Source Data Platform</li>
    <li>SharePoint</li>
    <li>Office 365</li>
    <li>Enterprise Integration</li>
    <li>Microsoft Azure (both IaaS and PaaS)</li>
    <li>Development Methodologies (Agile, Scrum, Kanban, TDD, DDD, …)</li>
    <li>Programming &amp; Professional Development</li>
    <li>DevOps</li>
</ul>
<p>&nbsp;</p>
<p>TUGA IT 2017 will take place in Microsoft Portugal’s offices, in <strong>Lisbon</strong>, on <strong>May 18-20, 2017</strong>. It will feature 3 days of <strong>breakout sessions</strong> and <strong>full-day workshops</strong> by world class speakers where IT Professionals can spend 3 amazing days checking the future of IT and also take the time to network with top-level speakers and other IT Professionals.</p>
<p>The organization commitee:</p>
<ul>
    <li>André Batista (operations)</li>
    <li>André Vala (content)</li>
    <li>Niko Neugebauer (content)</li>
    <li>Paulo Matos (finances)</li>
    <li>Pedro Simões (partnerships &amp; sponsorships)</li>
</ul>
