@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Twitter:</strong> <a href="http://www.twitter.com/tugaitconf"  target="_blank">#tugaitconf</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/Tuga-it-238916593118020/"  target="_blank">fb/Tuga-it-238916593118020/</a><br />
    <strong>RSS:</strong> <a href="http://tugait.pt/2017/feed/rss"  target="_blank">RSS</a>
</address>
